:root {
  --black: #001514;
  --violet: #5c0aff;
  --white: #f8f8ff;
  --blue: #46b1c9;
  --grey: #eee;
  background-color: var(--white);
  --main-font: "Poppins";
  --second-font: "DM Sans";
  --block: 0.1rem solid red;
}

* {
  margin: 0;
  padding: 0;
}
/* Nav Bar Stuff*/
nav {
  display: flex;
  align-items: center;
  height: 3.5rem;
  background-color: var(--white);
  position: fixed;
  top: 0;
  width: 100%;
  font-family: var(--main-font);
  box-shadow: 0rem 0.4rem 0.5rem #ddd;
}

.nav-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 3rem;
}

.nav-items h3 {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

#nav-links {
  display: flex;
  /* border: var(--block); */
  list-style-type: none;
  align-items: center;
  justify-content: space-between;
  font-size: 1.15rem;
}

#nav-links li {
  padding-left: 3rem;
}

body {
  /* Grids!!! */
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      var(--grey) 0.1rem,
      transparent 1px
    ),
    linear-gradient(to bottom, var(--grey) 0.1rem, transparent 1px);
}

main {
  padding-top: 3.5rem;
}

#intro {
  height: 50rem;
  border: var(--block);
}

#about {
  height: 40rem;
  border: var(--block);
}

#projects {
  height: 80rem;
  border: var(--block);
}

#contact {
  height: 40rem;
  border: var(--block);
}

footer {
  height: 10rem;
  background-color: var(--violet);
}
